---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
my_df=pd.read_csv('university_towns.txt',sep='#',header=None)
my_df.columns=['towns']
my_df = pd.DataFrame(my_df.towns.str.split(' \(',1).tolist(),
                                   columns = ['RegionName','row'])
my_df.drop('row',axis=1,inplace=True)

In [5]:
my_df.head()

      RegionName
0  Alabama[edit]
1         Auburn
2       Florence
3   Jacksonville
4     Livingston

In [6]:
lola=my_df[my_df['RegionName'].str.contains('edit')]

In [7]:
len(lola)

50

In [8]:
lola.head()

          RegionName
0      Alabama[edit]
9       Alaska[edit]
11     Arizona[edit]
15    Arkansas[edit]
24  California[edit]

In [9]:
lola_list=lola.index
lola_list

Int64Index([  0,   9,  11,  15,  24,  50,  60,  68,  71,  84, 101, 103, 107,
            118, 132, 146, 153, 165, 174, 184, 195, 215, 236, 251, 257, 267,
            271, 279, 282, 290, 301, 307, 339, 358, 361, 384, 396, 407, 451,
            454, 466, 471, 485, 508, 515, 522, 535, 541, 551, 565],
           dtype='int64')

In [10]:
my_df.iloc[566]

RegionName    Laramie
Name: 566, dtype: object

In [11]:
my_dict=dict()

In [12]:
for i in range(0,len(lola_list)-1):
    my_dict[i]=my_df.iloc[lola_list[i]+1:lola_list[i+1]]
my_dict[i+1]=my_df.iloc[lola_list[-1]+1]

In [13]:
#my_dict

In [14]:
#my_dict[0]['state']='Alabama'

In [15]:
cola=lola['RegionName']

In [16]:
state_list=[]

In [17]:
for i in cola:
    f=i.split('[')[0]
    state_list.append(f)

In [18]:
len(my_dict)

50

In [19]:
len(state_list)

50

In [20]:
for i in range(len(state_list)):
    my_dict[i]['State']=state_list[i]

In [21]:
my_dict[0]

     RegionName    State
1        Auburn  Alabama
2      Florence  Alabama
3  Jacksonville  Alabama
4    Livingston  Alabama
5    Montevallo  Alabama
6          Troy  Alabama
7    Tuscaloosa  Alabama
8      Tuskegee  Alabama

In [22]:
my_dict[49]

RegionName    Laramie
State         Wyoming
Name: 566, dtype: object

In [23]:
my_dict[49]=pd.DataFrame([{'RegionName':'Laramie','State':'Wyoming'}])

In [24]:
final_df=pd.DataFrame()

In [25]:
for i in range(50):
    final_df=pd.concat([final_df,my_dict[i]])

In [26]:
final_df.reset_index(drop=True,inplace=True)

In [27]:
final_df.head()

     RegionName    State
0        Auburn  Alabama
1      Florence  Alabama
2  Jacksonville  Alabama
3    Livingston  Alabama
4    Montevallo  Alabama

In [28]:
len(final_df)

517

In [29]:
cul=final_df.columns.tolist()
cul=cul[-1:]+cul[:-1]
final_df=final_df[cul]

In [30]:
final_df.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [31]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    return final_df

In [32]:
recess_df=pd.read_excel('gdplev.xls')
recess_df=recess_df[4:]
recess_df.head()

,"Current-Dollar and ""Real"" Gross Domestic Product",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2016-09-29 00:00:00
4,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1929,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaN
8,1930,92.2,966.7,NaN,1947q2,246.3,1932.3,NaN

In [33]:
recess_df.drop(['Unnamed: 3'],axis=1,inplace=True)

In [34]:
recess_df.columns

Index(['Current-Dollar and "Real" Gross Domestic Product',
                                             'Unnamed: 1',
                                             'Unnamed: 2',
                                             'Unnamed: 4',
                                             'Unnamed: 5',
                                             'Unnamed: 6',
                                      2016-09-29 00:00:00],
      dtype='object')

In [35]:
cul=list(recess_df.columns)
cul=cul[:-1]
cul

['Current-Dollar and "Real" Gross Domestic Product',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6']

In [36]:
recess_df=recess_df[cul]

In [37]:
recess_df.columns=recess_df.loc[4]
recess_df.drop(recess_df.index[4],inplace=True)

In [38]:
recess_df.drop([5,6],inplace=True)

In [39]:
recess_df.drop([4],inplace=True)

In [40]:
recess_df.reset_index(drop=True,inplace=True)

In [41]:
recess_df.head()

4,nan,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,nan,GDP in billions of current dollars,GDP in billions of chained 2009 dollars
0,1929,104.6,1056.6,1947q1,243.1,1934.5
1,1931,77.4,904.8,1947q3,250.1,1930.3
2,1932,59.5,788.2,1947q4,260.3,1960.7
3,1933,57.2,778.3,1948q1,266.2,1989.5
4,1934,66.8,862.2,1948q2,272.9,2021.9

In [42]:
recess_df.columns=['year','GDP in billions of current dollars','GDP in billions of chained 2009 dollars','Quarters','GDP in billions of current dollars_','GDP in billions of chained 2009 dollars_']

In [43]:
recess_df.isnull().sum()

year                                        191
GDP in billions of current dollars          191
GDP in billions of chained 2009 dollars     191
Quarters                                      0
GDP in billions of current dollars_           0
GDP in billions of chained 2009 dollars_      0
dtype: int64

In [44]:
recess_df_part1=recess_df[['year','GDP in billions of current dollars','GDP in billions of chained 2009 dollars']]

In [45]:
recess_df_part2=recess_df[['Quarters','GDP in billions of current dollars_','GDP in billions of chained 2009 dollars_']]

In [46]:
recess_df_part1.dropna(inplace=True)

In [47]:
recess_df_part1.head()

,year,GDP in billions of current dollars,GDP in billions of chained 2009 dollars
0,1929,104.6,1056.6
1,1931,77.4,904.8
2,1932,59.5,788.2
3,1933,57.2,778.3
4,1934,66.8,862.2

In [48]:
recess_df_part2[244:250]

,Quarters,GDP in billions of current dollars_,GDP in billions of chained 2009 dollars_
244,2008q2,14813,14963.4
245,2008q3,14843,14891.6
246,2008q4,14549.9,14577
247,2009q1,14383.9,14375
248,2009q2,14340.4,14355.6
249,2009q3,14384.1,14402.5

In [49]:
recess_quarter=[]
for i in range(2,len(recess_df_part2)):
    if (recess_df_part2.loc[i]['GDP in billions of current dollars_']<recess_df_part2.loc[i-1]['GDP in billions of current dollars_']) and (recess_df_part2.loc[i-1]['GDP in billions of current dollars_']<recess_df_part2.loc[i-2]['GDP in billions of current dollars_']):
        recess_quarter.append(recess_df_part2.loc[i-2]['Quarters'])

In [50]:
recess_end_quarter=[]
for i in range(2,len(recess_df_part2)):
    if ((recess_df_part2.loc[i]['GDP in billions of current dollars_']<recess_df_part2.loc[i-1]['GDP in billions of current dollars_']) and (recess_df_part2.loc[i-1]['GDP in billions of current dollars_']<recess_df_part2.loc[i-2]['GDP in billions of current dollars_'])) and ((recess_df_part2.loc[i]['GDP in billions of current dollars_']<recess_df_part2.loc[i+1]['GDP in billions of current dollars_']) and (recess_df_part2.loc[i-1]['GDP in billions of current dollars_']<recess_df_part2.loc[i+2]['GDP in billions of current dollars_'])):
        recess_end_quarter.append(recess_df_part2.loc[i+2]['Quarters'])

In [51]:
recess_end_quarter

['1954q3', '1958q3', '2009q4']

In [52]:
recess_quarter

['1948q4', '1953q2', '1953q3', '1957q3', '2008q3', '2008q4']

In [53]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return '2008q3'

In [54]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return '2009q4'

In [55]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "2009q2"

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [56]:
housing_df=pd.read_csv('City_Zhvi_AllHomes.csv')

In [57]:
housing_df.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [58]:
housing_df.shape

(10730, 251)

In [59]:
housing_df.columns

Index(['RegionID', 'RegionName', 'State', 'Metro', 'CountyName', 'SizeRank',
       '1996-04', '1996-05', '1996-06', '1996-07',
       ...
       '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04',
       '2016-05', '2016-06', '2016-07', '2016-08'],
      dtype='object', length=251)

In [60]:
#housing_df['2000q1']=housing_df['2000-01']+housing_df['2000-02']+housing_df['2000-03']

In [61]:
my_dict=dict()
for i in range(0,16):
    for count in range(1,5):
        my_dict[str(2000+i)+'q'+str(count)]=(housing_df[str(2000+i)+'-'+(str(count*3-2).zfill(2))]+housing_df[str(2000+i)+'-'+str(count*3-1).zfill(2)]+housing_df[str(2000+i)+'-'+str(count*3).zfill(2)])
my_dict[str(2016)+'q'+str(1)]=(housing_df[str(2016)+'-'+(str(1).zfill(2))]+housing_df[str(2016)+'-'+str(2).zfill(2)]+housing_df[str(2016)+'-'+str(3).zfill(2)])
my_dict[str(2016)+'q'+str(2)]=(housing_df[str(2016)+'-'+(str(4).zfill(2))]+housing_df[str(2016)+'-'+str(5).zfill(2)]+housing_df[str(2016)+'-'+str(6).zfill(2)])
my_dict[str(2016)+'q'+str(3)]=(housing_df[str(2016)+'-'+str(7).zfill(2)]+housing_df[str(2016)+'-'+str(8).zfill(2)])

In [62]:
my_df_dict=pd.DataFrame()

In [63]:
for i,j in my_dict.items():
    my_df_dict[i]=j

In [64]:
housing_df

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900
5,18959,Las Vegas,NV,Las Vegas,Clark,6,121600.0,120900.0,120400.0,120300.0,...,190600,192000,193600,194800,195400,196100,197300,198200,199300,200600
6,54296,San Diego,CA,San Diego,San Diego,7,161100.0,160700.0,160400.0,160100.0,...,525700,526700,527800,529200,531000,533900,536900,537900,539000,540500
7,38128,Dallas,TX,Dallas-Fort Worth,Dallas,8,NaN,NaN,NaN,NaN,...,134600,136600,138700,140600,142200,143300,144500,146000,148200,150400
8,33839,San Jose,CA,San Jose,Santa Clara,9,224500.0,224900.0,225400.0,226100.0,...,789700,792100,795800,803100,811900,817600,819100,820100,821700,822700
9,25290,Jacksonville,FL,Jacksonville,Duval,10,77500.0,77200.0,76800.0,76600.0,...,132000,132500,133100,133900,134900,136000,137200,138400,139500,140300
10,20330,San Francisco,CA,San Francisco,San Francisco,11,262500.0,263500.0,264100.0,265000.0,...,1105800,1112300,1117400,1122700,1125200,1123200,1119800,1114800,1108800,1104000
11,10221,Austin,TX,Austin,Travis,12,NaN,NaN,NaN,NaN,...,287300,289300,291100,293400,296000,299200,301800,303300,304100,304800
12,17762,Detroit,MI,Detroit,Wayne,13,NaN,NaN,NaN,NaN,...,38500,38400,38300,38000,37600,37400,37500,37500,37700,38100
13,10920,Columbus,OH,Columbus,Franklin,14,83100.0,83200.0,83300.0,83500.0,...,115200,115800,116200,116700,117200,117700,118100,118800,119700,120500
14,32811,Memphis,TN,Memphis,Shelby,15,60600.0,60500.0,60700.0,60800.0,...,69600,69800,69900,70800,72000,73100,74300,75100,75600,76200
15,24043,Charlotte,NC,Charlotte,Mecklenburg,16,94500.0,94900.0,95700.0,96400.0,...,162800,164300,165500,166500,167400,168400,169500,170400,171700,173100
16,17933,El Paso,TX,El Paso,El Paso,17,67400.0,67800.0,68000.0,68300.0,...,110200,110000,110200,110600,111200,111500,111400,111500,112100,112300
17,44269,Boston,MA,Boston,Suffolk,18,123100.0,122800.0,123100.0,123800.0,...,471000,474600,478700,482900,486200,488000,489700,493400,499200,504200
18,16037,Seattle,WA,Seattle,King,19,164400.0,163900.0,163600.0,163400.0,...,533700,538700,544300,551200,559700,568600,576200,581800,587200,592200
19,3523,Baltimore,MD,Baltimore,Baltimore City,20,53200.0,53900.0,54400.0,54700.0,...,113600,114000,114500,114700,114800,114700,114600,114900,115100,115200
20,11093,Denver,CO,Denver,Denver,21,98700.0,99200.0,99600.0,100200.0,...,330500,332100,333500,335600,337600,339700,342700,345900,349800,353300
21,41568,Washington,DC,Washington,District of Columbia,22,NaN,NaN,NaN,NaN,...,501200,502500,503800,504700,503800,503400,505100,508900,513900,518600
22,6118,Nashville,TN,Nashville,Davidson,23,83100.0,83800.0,84800.0,85900.0,...,189300,191400,193300,195100,196800,198400,200300,202400,205000,207200
23,5976,Milwaukee,WI,Milwaukee,Milwaukee,24,68100.0,68100.0,68100.0,67800.0,...,94600,94300,94200,94600,95200,95900,96300,96900,98200,99500
24,7481,Tucson,AZ,Tucson,Pima,25,91500.0,91500.0,91600.0,91500.0,...,148200,148400,148800,149500,150300,150700,151100,151700,152400,153000
25,13373,Portland,OR,Portland,Multnomah,26,121100.0,122200.0,123000.0,123600.0,...,343400,347800,351900,356100,360000,364400,369300,375700,383600,390500
26,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,27,64900.0,65400.0,65700.0,65800.0,...,127300,127700,127600,127700,128400,129000,129300,129600,130100,130500
27,40152,Omaha,NE,Omaha,Douglas,28,88900.0,89600.0,90400.0,90800.0,...,140300,140500,140900,141600,142400,142800,142700,142500,143100,143800
28,23429,Albuquerque,NM,Albuquerque,Bernalillo,29,115400.0,115600.0,116000.0,116700.0,...,167300,167800,168300,169100,169900,170300,170500,171100,171800,172000
29,18203,Fresno,CA,Fresno,Fresno,30,90400.0,90400.0,90200.0,90000.0,...,187600,187700,187900,189000,190200,191200,192700,194300,195800,197100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10700,49199,Granite Shoals,TX,NaN,Burnet,10701,NaN,NaN,NaN,NaN,...,128200,129900,131500,133700,136100,137900,139700,142600,145700,147200
10701,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10702,148400.0,152300.0,153600.0,153100.0,...,309800,312600,315900,319900,322700,323600,324300,324600,324500,324700
10702,50374,Maribel,WI,Manitowoc,Manitowoc,10703,NaN,NaN,NaN,NaN,...,129100,129700,128900,127600,127000,127800,129300,130700,132900,135500
10703,50539,Middleton,ID,Boise City,Canyon,10704,103100.0,103200.0,103300.0,103000.0,...,151100,152300,153200,154000,154500,155500,157200,158800,160100,161400
10704,50963,Bennett,CO,Denver,Adams,10705,83800.0,85900.0,87100.0,88100.0,...,195700,197400,198500,199400,201400,204500,207700,210200,211900,213300
10705,51793,East Hampstead,NH,Boston,Rockingham,10706,132200.0,128600.0,125500.0,125200.0,...,269600,270600,271200,272400,274000,275800,277800,279800,281700,283200
10706,52166,Garden City,MO,Kansas City,Cass,10707,NaN,NaN,NaN,NaN,...,103600,104800,105200,105800,107800,110000,112000,113000,113500,113700
10707,53456,Mountainburg,AR,Fort Smith,Crawford,10708,55600.0,55500.0,55400.0,56200.0,...,90100,93400,96300,98600,100100,101200,101800,102700,103300,103500
10708,53730,Oostburg,WI,Sheboygan,Sheboygan,10709,86300.0,84900.0,83800.0,83700.0,...,132000,132500,132700,132600,133000,133700,134100,134500,135700,137000
10709,54771,Twin Peaks,CA,Riverside,San Bernardino,10710,85500.0,85200.0,84600.0,84400.0,...,159200,160600,162400,164400,165700,166300,167700,169900,172500,174500
10710,54802,Upper Brookville,NY,New York,Nassau,10711,897200.0,894000.0,891300.0,894400.0,...,1833700,1854900,1879300,1905900,1928300,1941800,1942000,1948400,1962600,1975000
10711,54995,Volcano,HI,Hilo,Hawaii,10712,114600.0,108600.0,102400.0,96700.0,...,232500,236400,239700,241800,244700,247800,249600,249500,248500,247200
10712,55072,Wedgefield,SC,Sumter,Sumter,10713,NaN,NaN,NaN,NaN,...,69000,68500,68200,68500,69900,71900,74100,76800,79600,81800
10713,55210,Williamston,MI,Lansing,Ingham,10714,120900.0,124800.0,128200.0,130200.0,...,182700,181800,180800,181000,182600,182900,182200,182100,182800,183200
10714,55357,Decatur,AR,Fayetteville,Benton,10715,54700.0,55100.0,55100.0,54700.0,...,97200,97400,96900,96300,96300,96600,96600,96700,96900,96800
10715,55476,Briceville,TN,Knoxville,Anderson,10716,37000.0,37500.0,36700.0,36100.0,...,43200,41700,40800,40500,41100,41700,42000,41700,41100,40600
10716,55706,Edgewood,IN,Indianapolis,Madison,10717,NaN,NaN,NaN,NaN,...,100200,101100,100200,98900,99200,99600,99900,100400,101000,100900
10717,56183,Palmyra,TN,Clarksville,Montgomery,10718,NaN,NaN,NaN,NaN,...,126400,127600,127300,127300,128400,130000,133000,135600,137000,138500
10718,56845,Saint Inigoes,MD,California-Lexington Park,Saint Marys,10719,137400.0,136900.0,137500.0,138600.0,...,277200,275800,276300,279500,282200,282900,282900,282100,281400,281400
10719,56943,Marysville,IN,Louisville/Jefferson County,Clark,10720,NaN,NaN,NaN,NaN,...,119800,124100,127200,129500,128000,124800,122700,122200,123100,125300
10720,57212,Forest Falls,CA,Riverside,San Bernardino,10721,76400.0,75600.0,74100.0,73100.0,...,199700,195300,190400,187500,188000,190000,190600,189000,187100,186200
10721,171874,Bois D Arc,MO,Springfield,Greene,10722,77700.0,77500.0,77700.0,78600.0,...,149800,149100,148000,146900,145700,145000,143700,142600,143200,144800
10722,182023,Henrico,VA,Richmond,Henrico,10723,110200.0,110500.0,110900.0,111100.0,...,213800,215100,216000,216200,215900,215900,215900,216800,219000,221300
10723,188693,Diamond Beach,NJ,Ocean City,Cape May,10724,136500.0,136800.0,137000.0,135200.0,...,400100,401600,403100,405000,405500,404500,403800,403400,400700,397300
10724,227014,Gruetli Laager,TN,NaN,Grundy,10725,24800.0,24300.0,24500.0,25000.0,...,71800,72900,74500,75700,75800,75900,76600,76900,77200,77800
10725,398292,Town of Wrightstown,WI,Green Bay,Brown,10726,NaN,NaN,NaN,NaN,...,149900,150100,150300,150000,149200,149900,151400,152500,154100,155900
10726,398343,Urbana,NY,Corning,Steuben,10727,66900.0,65800.0,65500.0,65100.0,...,135700,136400,137700,138700,140500,143600,145000,144000,143000,143000
10727,398496,New Denmark,WI,Green Bay,Brown,10728,NaN,NaN,NaN,NaN,...,188700,189800,190800,191200,191200,191700,192800,194000,196300,198900
10728,398839,Angels,CA,NaN,Calaveras,10729,115600.0,116400.0,118000.0,119000.0,...,280400,279600,278000,276600,275000,273700,272000,269100,269000,270900
10729,399114,Holland,WI,Sheboygan,Sheboygan,10730,129900.0,130200.0,130300.0,129100.0,...,217800,219400,221100,222000,222800,224900,228000,231200,233900,236000

In [65]:
housing_df=housing_df[['State','RegionName']]

In [66]:
housing_df=pd.merge(housing_df,my_df_dict,how='inner',left_index=True,right_index=True)

In [67]:
my_df_dict

,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1546400,1568400,1584200,1596800,1622400,1671600,1718500,1748600,1774900,1174400
1,621200.0,643400.0,662900.0,678500.0,699000.0,717300.0,735200.0,759100.0,785900.0,818100.0,...,1494100,1527200,1556600,1586400,1614500,1641800,1673200,1698100,1732400,1168100
2,415200.0,430900.0,443600.0,456400.0,470800.0,485400.0,499200.0,511300.0,526500.0,532700.0,...,577900,587300,603800,603200,618100,624900,623700,618200,624600,424000
3,159000.0,160900.0,162400.0,164100.0,166000.0,166600.0,168800.0,172600.0,177400.0,182200.0,...,341200,345900,347000,348600,353900,363700,366600,370300,380800,257400
4,335500.0,343100.0,348000.0,352200.0,358800.0,364700.0,368100.0,372900.0,379600.0,385100.0,...,492800,496100,505500,514600,522500,537200,551500,563700,574300,390400
5,397800.0,403100.0,406200.0,411000.0,418600.0,425200.0,430100.0,438400.0,448000.0,452800.0,...,510200,520200,526400,532500,544800,560300,571900,583800,591600,399900
6,668700.0,703100.0,736300.0,768100.0,801600.0,828800.0,853500.0,875800.0,903700.0,938600.0,...,1440600,1467100,1489300,1510100,1536200,1559300,1576400,1588000,1608700,1079500
7,253400.0,251600.0,254600.0,263500.0,269200.0,267900.0,267200.0,272700.0,277700.0,281400.0,...,319900,326700,334600,341100,363400,385700,403800,421500,433800,298600
8,1122800.0,1219700.0,1295600.0,1366500.0,1412000.0,1410600.0,1370400.0,1336700.0,1324300.0,1373300.0,...,2038200,2091100,2144800,2194300,2270200,2329200,2367400,2410800,2456800,1644400
9,265800.0,269100.0,275100.0,279300.0,283200.0,286800.0,291200.0,297200.0,303700.0,310300.0,...,362300,365200,369500,372500,380700,390400,396000,401900,411600,279800
10,1291500.0,1393400.0,1450600.0,1479000.0,1482200.0,1488400.0,1512300.0,1540200.0,1561300.0,1614500.0,...,2780800,2863600,2906300,3002200,3182400,3285300,3316400,3365300,3357800,2212800
11,428900.0,435800.0,448400.0,467200.0,483700.0,482200.0,478600.0,480100.0,476900.0,472500.0,...,746600,758400,774400,799500,825100,844900,861700,880500,904300,608900
12,198500.0,204900.0,200300.0,201100.0,202500.0,205100.0,207800.0,209900.0,213000.0,217000.0,...,111900,111300,111400,108600,107500,111200,115100,113900,112400,75800
13,283100.0,287500.0,291400.0,294800.0,298200.0,300800.0,303200.0,306600.0,310200.0,314400.0,...,309400,313500,319300,323600,328300,334700,345000,350100,354600,240200
14,217500.0,219600.0,221600.0,222000.0,222500.0,224800.0,226500.0,228200.0,229000.0,230300.0,...,204300,207300,213500,211600,206100,206000,208600,212700,222500,151800
15,380800.0,385100.0,390600.0,394700.0,398800.0,399600.0,398400.0,399300.0,403100.0,406100.0,...,448400,451900,458200,465500,473700,480500,488600,499400,508300,344800
16,228800.0,230600.0,230200.0,231900.0,234700.0,234900.0,232300.0,230400.0,229800.0,229200.0,...,335400,335200,335300,334500,333900,333200,330800,332000,334400,224400
17,620800.0,657500.0,699300.0,727500.0,748800.0,771200.0,800800.0,824900.0,847500.0,867900.0,...,1280000,1294300,1322200,1345500,1366100,1391900,1414900,1447800,1471100,1003400
18,745800.0,766800.0,787600.0,802200.0,813000.0,817300.0,822500.0,834500.0,841500.0,853800.0,...,1325400,1354500,1377500,1403800,1480100,1542800,1600400,1655200,1726600,1179400
19,179000.0,178500.0,176500.0,178500.0,178700.0,180400.0,186300.0,190200.0,191000.0,194700.0,...,327700,328600,322100,324200,334300,341900,341700,344000,344200,230300
20,486700.0,503500.0,523000.0,541000.0,559500.0,577600.0,589200.0,597300.0,603700.0,607300.0,...,812600,832500,861700,892900,931100,961500,990300,1006700,1028300,703100
21,413300.0,432600.0,446100.0,443100.0,449300.0,465400.0,493900.0,517600.0,541500.0,579900.0,...,1340800,1359000,1380900,1398500,1443200,1480200,1502700,1512300,1517400,1032500
22,341500.0,345800.0,347600.0,350800.0,354100.0,357500.0,360300.0,362400.0,364700.0,367900.0,...,482100,486900,500700,514400,528800,545400,567600,585200,601100,412200
23,234100.0,237200.0,243100.0,247000.0,252100.0,256700.0,261200.0,265200.0,268600.0,274100.0,...,276500,276500,275900,280000,282300,282400,283700,284000,289100,197700
24,305500.0,308900.0,313400.0,317000.0,321600.0,326300.0,331700.0,338400.0,345000.0,351600.0,...,427400,430300,432700,432500,435400,439800,444500,448600,453500,305400
25,458400.0,464300.0,469700.0,472400.0,479700.0,485400.0,492800.0,503300.0,512300.0,522400.0,...,846700,861800,886600,905800,935700,977200,1029200,1068000,1109400,774100
26,229300.0,232500.0,235700.0,237500.0,239500.0,241200.0,243400.0,245200.0,247800.0,250300.0,...,354100,356900,360300,362400,367100,374100,381300,383700,387900,260600
27,338400.0,342300.0,350200.0,356700.0,362600.0,359300.0,353600.0,352200.0,354200.0,352900.0,...,390300,390900,397500,399200,403400,410200,420200,424900,428000,286900
28,377600.0,380100.0,379300.0,380200.0,381300.0,383200.0,385700.0,389700.0,393200.0,396300.0,...,489800,492000,494400,495500,497700,499600,502000,507300,511900,343800
29,282300.0,285800.0,289400.0,294700.0,301700.0,310700.0,321700.0,330900.0,342100.0,355600.0,...,508900,520800,534400,541400,546100,557100,562400,567100,578200,392900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,350900,352600,352600,351500,357300,364800,384000,401300,420200,292900
10701,467000.0,465500.0,475400.0,491100.0,490200.0,494500.0,494100.0,503700.0,534800.0,543600.0,...,889200,927000,927700,928700,905100,915700,929900,958500,972500,649200
10702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,391800,386900,388900,393800,390400,389200,387900,383500,387800,268400
10703,318200.0,313000.0,305700.0,312500.0,318500.0,325100.0,333100.0,333700.0,342300.0,342500.0,...,433100,437100,438700,438500,443200,444600,453400,461700,471500,321500
10704,398700.0,407500.0,419400.0,434000.0,444900.0,456300.0,462700.0,468600.0,476200.0,481900.0,...,454400,486200,514200,534100,553300,575000,587400,599300,622400,425200
10705,485500.0,507300.0,521900.0,541500.0,572700.0,585200.0,597800.0,622200.0,636900.0,636700.0,...,748500,756300,767200,776200,784100,784800,806400,817600,833400,564900
10706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,316500,312900,314300,318100,288200,297900,310300,318800,335000,227200
10707,171500.0,193000.0,203500.0,207000.0,206000.0,191600.0,191300.0,196400.0,196000.0,198000.0,...,244800,255200,265400,267100,256700,251100,271300,295000,305700,206800
10708,321800.0,324300.0,337300.0,346500.0,357300.0,361300.0,361100.0,358900.0,359600.0,355700.0,...,388700,383800,382300,381200,382200,391000,396100,398300,402300,272700
10709,292100.0,300500.0,304000.0,305100.0,312000.0,323000.0,329500.0,333400.0,339600.0,349800.0,...,450300,442600,438200,430500,456900,465800,477500,492500,503900,347000
10710,3692900.0,3692900.0,3713100.0,3784700.0,3885500.0,4020100.0,4211000.0,4445800.0,4608500.0,4686100.0,...,5341900,5247700,5188400,5249600,5368800,5331800,5503100,5713500,5832200,3937600
10711,296100.0,316100.0,344000.0,374300.0,354400.0,358200.0,369800.0,363500.0,369900.0,350700.0,...,619400,682900,699600,703900,697100,674900,697300,726200,746900,495700
10712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,223100,210800,216200,227100,216200,211000,207100,206600,222800,161400
10713,477500.0,483900.0,492900.0,498600.0,499300.0,505900.0,515000.0,525100.0,536000.0,538000.0,...,497100,506800,512600,523300,527600,538400,546900,544400,547200,366000
10714,190800.0,193200.0,197000.0,200200.0,201600.0,203100.0,199500.0,196200.0,193800.0,194700.0,...,269000,277700,284100,280500,284700,286300,291000,289500,289900,193700
10715,120000.0,125200.0,131000.0,134700.0,134400.0,135900.0,133900.0,131100.0,133400.0,130200.0,...,168700,162700,157800,148900,137700,143800,130800,122400,125400,81700
10716,275100.0,275600.0,278800.0,284700.0,296800.0,300200.0,302500.0,303000.0,306500.0,305300.0,...,276400,282200,284000,287600,283000,289900,299900,298300,299900,201900
10717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,368300,380800,378700,366900,361400,359400,377400,383000,398600,275500
10718,444200.0,442800.0,471700.0,490100.0,492700.0,504600.0,499500.0,496000.0,501900.0,506400.0,...,846700,865300,860900,854100,842300,833500,830500,838000,847900,562800
10719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,349800,345300,349500,335600,335400,347000,360500,384700,369700,248400
10720,340600.0,343200.0,342500.0,333400.0,340300.0,339000.0,339100.0,345500.0,356100.0,375200.0,...,496100,502500,531300,529600,545400,573500,596200,565900,569600,373300
10721,323400.0,320900.0,321300.0,324300.0,332100.0,341000.0,337900.0,338200.0,339200.0,346200.0,...,412700,412700,421200,435100,442700,438900,448300,440600,431300,288000
10722,385700.0,392300.0,396800.0,399800.0,405700.0,410200.0,415800.0,424000.0,430600.0,438400.0,...,604900,612000,617700,619700,631300,636300,641900,648100,648600,440300
10723,521900.0,549300.0,566900.0,579400.0,583200.0,630800.0,690800.0,746000.0,779800.0,796900.0,...,1145400,1163600,1163000,1179500,1194000,1197700,1201300,1213600,1211700,798000
10724,106200.0,106400.0,110000.0,111900.0,113200.0,113700.0,118100.0,121200.0,124700.0,124900.0,...,166700,169100,171400,176700,196100,208500,215100,226000,229400,155000
10725,305300.0,316200.0,334100.0,344600.0,377900.0,389700.0,389700.0,388300.0,395700.0,402600.0,...,434600,440600,447700,446000,448000,449600,449800,449500,453800,310000
10726,237600.0,245000.0,275100.0,295100.0,284600.0,295600.0,308900.0,294100.0,281900.0,283800.0,...,396400,411100,420200,425100,413600,409400,408500,416900,432600,286000
10727,343700.0,357800.0,378200.0,395900.0,431400.0,440900.0,445100.0,447500.0,459400.0,470200.0,...,523700,543500,558500,562800,566000,565300,566800,573200,578500,395200
10728,453000.0,467700.0,474300.0,502400.0,530500.0,551300.0,570700.0,553700.0,552100.0,558400.0,...,733400,762200,779800,780300,751900,790500,838500,829600,814800,539900
10729,453100.0,451500.0,459700.0,467500.0,485600.0,497200.0,504100.0,502200.0,497300.0,485900.0,...,603800,604700,603800,618000,622800,638600,653500,665900,684100,469900

In [68]:
abb=dict()
abb={'AL':'Alabama','AK':'Alaska','AZ':'Arizona','AR':'Arkansas','CA':'California','CO':'Colorado','CT':'Connecticut','DE':'Delaware','FL':'Florida','GA':'Georgia','HI':'Hawaii','ID':'Idaho','IL':'Illinois','IN':'Indiana','IA':'Iowa','KS':'Kansas','KY':'Kentucky','LA':'Louisiana','ME':'Maine','MD':'Maryland','MA':'Massachusetts','MI':'Michigan','MN':'Minnesota','MS':'Mississippi','MO':'Missouri','MT':'Montana','NE':'Nebraska','NV':'Nevada','NH':'New Hampshire','NJ':'New Jersey','NM':'New Mexico','NY':'New York','NC':'North Carolina','ND':'North Dakota','OH':'Ohio','OK':'Oklahoma','OR':'Oregon','PA':'Pennsylvania','RI':'Rhode Island','SC':'South Carolina','SD':'South Dakota','TN':'Tennessee','TX':'Texas','UT':'Utah','VT':'Vermont','VA':'Virginia','WA':'Washington','WV':'West Virginia','WI':'Wisconsin','WY':'Wyoming'}

In [69]:
housing_df['State'] = housing_df['State'].map(abb)

In [70]:
dup_housing=housing_df.copy()

In [71]:
my_housing=dup_housing[['State','RegionName']]

In [72]:

dup_housing.head()

,State,RegionName,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
0,New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1546400,1568400,1584200,1596800,1622400,1671600,1718500,1748600,1774900,1174400
1,California,Los Angeles,621200.0,643400.0,662900.0,678500.0,699000.0,717300.0,735200.0,759100.0,...,1494100,1527200,1556600,1586400,1614500,1641800,1673200,1698100,1732400,1168100
2,Illinois,Chicago,415200.0,430900.0,443600.0,456400.0,470800.0,485400.0,499200.0,511300.0,...,577900,587300,603800,603200,618100,624900,623700,618200,624600,424000
3,Pennsylvania,Philadelphia,159000.0,160900.0,162400.0,164100.0,166000.0,166600.0,168800.0,172600.0,...,341200,345900,347000,348600,353900,363700,366600,370300,380800,257400
4,Arizona,Phoenix,335500.0,343100.0,348000.0,352200.0,358800.0,364700.0,368100.0,372900.0,...,492800,496100,505500,514600,522500,537200,551500,563700,574300,390400

In [73]:
dup_housing.drop(['State','RegionName'],inplace=True,axis=1)
#dup_housing=dup_housing.set_index(['RegionName'])

In [74]:
dup_housing=dup_housing/3

In [75]:
dup_housing=pd.merge(my_housing,dup_housing,how='left',left_index=True,right_index=True)

In [76]:
housing_df=housing_df.set_index(['State','RegionName'])

In [77]:
housing_df=housing_df/3
housing_df

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.154667e+05,5.228000e+05,5.280667e+05,5.322667e+05,5.408000e+05,5.572000e+05,5.728333e+05,5.828667e+05,5.916333e+05,3.914667e+05
California,Los Angeles,2.070667e+05,2.144667e+05,2.209667e+05,2.261667e+05,2.330000e+05,2.391000e+05,2.450667e+05,2.530333e+05,2.619667e+05,2.727000e+05,...,4.980333e+05,5.090667e+05,5.188667e+05,5.288000e+05,5.381667e+05,5.472667e+05,5.577333e+05,5.660333e+05,5.774667e+05,3.893667e+05
Illinois,Chicago,1.384000e+05,1.436333e+05,1.478667e+05,1.521333e+05,1.569333e+05,1.618000e+05,1.664000e+05,1.704333e+05,1.755000e+05,1.775667e+05,...,1.926333e+05,1.957667e+05,2.012667e+05,2.010667e+05,2.060333e+05,2.083000e+05,2.079000e+05,2.060667e+05,2.082000e+05,1.413333e+05
Pennsylvania,Philadelphia,5.300000e+04,5.363333e+04,5.413333e+04,5.470000e+04,5.533333e+04,5.553333e+04,5.626667e+04,5.753333e+04,5.913333e+04,6.073333e+04,...,1.137333e+05,1.153000e+05,1.156667e+05,1.162000e+05,1.179667e+05,1.212333e+05,1.222000e+05,1.234333e+05,1.269333e+05,8.580000e+04
Arizona,Phoenix,1.118333e+05,1.143667e+05,1.160000e+05,1.174000e+05,1.196000e+05,1.215667e+05,1.227000e+05,1.243000e+05,1.265333e+05,1.283667e+05,...,1.642667e+05,1.653667e+05,1.685000e+05,1.715333e+05,1.741667e+05,1.790667e+05,1.838333e+05,1.879000e+05,1.914333e+05,1.301333e+05
Nevada,Las Vegas,1.326000e+05,1.343667e+05,1.354000e+05,1.370000e+05,1.395333e+05,1.417333e+05,1.433667e+05,1.461333e+05,1.493333e+05,1.509333e+05,...,1.700667e+05,1.734000e+05,1.754667e+05,1.775000e+05,1.816000e+05,1.867667e+05,1.906333e+05,1.946000e+05,1.972000e+05,1.333000e+05
California,San Diego,2.229000e+05,2.343667e+05,2.454333e+05,2.560333e+05,2.672000e+05,2.762667e+05,2.845000e+05,2.919333e+05,3.012333e+05,3.128667e+05,...,4.802000e+05,4.890333e+05,4.964333e+05,5.033667e+05,5.120667e+05,5.197667e+05,5.254667e+05,5.293333e+05,5.362333e+05,3.598333e+05
Texas,Dallas,8.446667e+04,8.386667e+04,8.486667e+04,8.783333e+04,8.973333e+04,8.930000e+04,8.906667e+04,9.090000e+04,9.256667e+04,9.380000e+04,...,1.066333e+05,1.089000e+05,1.115333e+05,1.137000e+05,1.211333e+05,1.285667e+05,1.346000e+05,1.405000e+05,1.446000e+05,9.953333e+04
California,San Jose,3.742667e+05,4.065667e+05,4.318667e+05,4.555000e+05,4.706667e+05,4.702000e+05,4.568000e+05,4.455667e+05,4.414333e+05,4.577667e+05,...,6.794000e+05,6.970333e+05,7.149333e+05,7.314333e+05,7.567333e+05,7.764000e+05,7.891333e+05,8.036000e+05,8.189333e+05,5.481333e+05
Florida,Jacksonville,8.860000e+04,8.970000e+04,9.170000e+04,9.310000e+04,9.440000e+04,9.560000e+04,9.706667e+04,9.906667e+04,1.012333e+05,1.034333e+05,...,1.207667e+05,1.217333e+05,1.231667e+05,1.241667e+05,1.269000e+05,1.301333e+05,1.320000e+05,1.339667e+05,1.372000e+05,9.326667e+04
California,San Francisco,4.305000e+05,4.644667e+05,4.835333e+05,4.930000e+05,4.940667e+05,4.961333e+05,5.041000e+05,5.134000e+05,5.204333e+05,5.381667e+05,...,9.269333e+05,9.545333e+05,9.687667e+05,1.000733e+06,1.060800e+06,1.095100e+06,1.105467e+06,1.121767e+06,1.119267e+06,7.376000e+05
Texas,Austin,1.429667e+05,1.452667e+05,1.494667e+05,1.557333e+05,1.612333e+05,1.607333e+05,1.595333e+05,1.600333e+05,1.589667e+05,1.575000e+05,...,2.488667e+05,2.528000e+05,2.581333e+05,2.665000e+05,2.750333e+05,2.816333e+05,2.872333e+05,2.935000e+05,3.014333e+05,2.029667e+05
Michigan,Detroit,6.616667e+04,6.830000e+04,6.676667e+04,6.703333e+04,6.750000e+04,6.836667e+04,6.926667e+04,6.996667e+04,7.100000e+04,7.233333e+04,...,3.730000e+04,3.710000e+04,3.713333e+04,3.620000e+04,3.583333e+04,3.706667e+04,3.836667e+04,3.796667e+04,3.746667e+04,2.526667e+04
Ohio,Columbus,9.436667e+04,9.583333e+04,9.713333e+04,9.826667e+04,9.940000e+04,1.002667e+05,1.010667e+05,1.022000e+05,1.034000e+05,1.048000e+05,...,1.031333e+05,1.045000e+05,1.064333e+05,1.078667e+05,1.094333e+05,1.115667e+05,1.150000e+05,1.167000e+05,1.182000e+05,8.006667e+04
Tennessee,Memphis,7.250000e+04,7.320000e+04,7.386667e+04,7.400000e+04,7.416667e+04,7.493333e+04,7.550000e+04,7.606667e+04,7.633333e+04,7.676667e+04,...,6.810000e+04,6.910000e+04,7.116667e+04,7.053333e+04,6.870000e+04,6.866667e+04,6.953333e+04,7.090000e+04,7.416667e+04,5.060000e+04
North Carolina,Charlotte,1.269333e+05,1.283667e+05,1.302000e+05,1.315667e+05,1.329333e+05,1.332000e+05,1.328000e+05,1.331000e+05,1.343667e+05,1.353667e+05,...,1.494667e+05,1.506333e+05,1.527333e+05,1.551667e+05,1.579000e+05,1.601667e+05,1.628667e+05,1.664667e+05,1.694333e+05,1.149333e+05
Texas,El Paso,7.626667e+04,7.686667e+04,7.673333e+04,7.730000e+04,7.823333e+04,7.830000e+04,7.743333e+04,7.680000e+04,7.660000e+04,7.640000e+04,...,1.118000e+05,1.117333e+05,1.117667e+05,1.115000e+05,1.113000e+05,1.110667e+05,1.102667e+05,1.106667e+05,1.114667e+05,7.480000e+04
Massachusetts,Boston,2.069333e+05,2.191667e+05,2.331000e+05,2.425000e+05,2.496000e+05,2.570667e+05,2.669333e+05,2.749667e+05,2.825000e+05,2.893000e+05,...,4.266667e+05,4.314333e+05,4.407333e+05,4.485000e+05,4.553667e+05,4.639667e+05,4.716333e+05,4.826000e+05,4.903667e+05,3.344667e+05
Washington,Seattle,2.486000e+05,2.556000e+05,2.625333e+05,2.674000e+05,2.710000e+05,2.724333e+05,2.741667e+05,2.781667e+05,2.805000e+05,2.846000e+05,...,4.418000e+05,4.515000e+05,4.591667e+05,4.679333e+05,4.933667e+05,5.142667e+05,5.334667e+05,5.517333e+05,5.755333e+05,3.931333e+05
Maryland,Baltimore,5.966667e+04,5.950000e+04,5.883333e+04,5.950000e+04,5.956667e+04,6.013333e+04,6.210000e+04,6.340000e+04,6.366667e+04,6.490000e+04,...,1.092333e+05,1.095333e+05,1.073667e+05,1.080667e+05,1.114333e+05,1.139667e+05,1.139000e+05,1.146667e+05,1.147333e+05,7.676667e+04
Colorado,Denver,1.622333e+05,1.678333e+05,1.743333e+05,1.803333e+05,1.865000e+05,1.925333e+05,1.964000e+05,1.991000e+05,2.012333e+05,2.024333e+05,...,2.708667e+05,2.775000e+05,2.872333e+05,2.976333e+05,3.103667e+05,3.205000e+05,3.301000e+05,3.355667e+05,3.427667e+05,2.343667e+05
NaN,Washington,1.377667e+05,1.442000e+05,1.487000e+05,1.477000e+05,1.497667e+05,1.551333e+05,1.646333e+05,1.725333e+05,1.805000e+05,1.933000e+05,...,4.469333e+05,4.530000e+05,4.603000e+05,4.661667e+05,4.810667e+05,4.934000e+05,5.009000e+05,5.041000e+05,5.058000e+05,3.441667e+05
Tennessee,Nashville,1.138333e+05,1.152667e+05,1.158667e+05,1.169333e+05,1.180333e+05,1.191667e+05,1.201000e+05,1.208000e+05,1.215667e+05,1.226333e+05,...,1.607000e+05,1.623000e+05,1.669000e+05,1.714667e+05,1.762667e+05,1.818000e+05,1.892000e+05,1.950667e+05,2.003667e+05,1.374000e+05
Wisconsin,Milwaukee,7.803333e+04,7.906667e+04,8.103333e+04,8.233333e+04,8.403333e+04,8.556667e+04,8.706667e+04,8.840000e+04,8.953333e+04,9.136667e+04,...,9.216667e+04,9.216667e+04,9.196667e+04,9.333333e+04,9.410000e+04,9.413333e+04,9.456667e+04,9.466667e+04,9.636667e+04,6.590000e+04
Arizona,Tucson,1.018333e+05,1.029667e+05,1.044667e+05,1.056667e+05,1.072000e+05,1.087667e+05,1.105667e+05,1.128000e+05,1.150000e+05,1.172000e+05,...,1.424667e+05,1.434333e+05,1.442333e+05,1.441667e+05,1.451333e+05,1.466000e+05,1.481667e+05,1.495333e+05,1.511667e+05,1.018000e+05
Oregon,Portland,1.528000e+05,1.547667e+05,1.565667e+05,1.574667e+05,1.599000e+05,1.618000e+05,1.642667e+05,1.677667e+05,1.707667e+05,1.741333e+05,...,2.822333e+05,2.872667e+05,2.955333e+05,3.019333e+05,3.119000e+05,3.257333e+05,3.430667e+05,3.560000e+05,3.698000e+05,2.580333e+05
Oklahoma,Oklahoma City,7.643333e+04,7.750000e+04,7.856667e+04,7.916667e+04,7.983333e+04,8.040000e+04,8.113333e+04,8.173333e+04,8.260000e+04,8.343333e+04,...,1.180333e+05,1.189667e+05,1.201000e+05,1.208000e+05,1.223667e+05,1.247000e+05,1.271000e+05,1.279000e+05,1.293000e+05,8.686667e+04
Nebraska,Omaha,1.128000e+05,1.141000e+05,1.167333e+05,1.189000e+05,1.208667e+05,1.197667e+05,1.178667e+05,1.174000e+05,1.180667e+05,1.176333e+05,...,1.301000e+05,1.303000e+05,1.325000e+05,1.330667e+05,1.344667e+05,1.367333e+05,1.400667e+05,1.416333e+05,1.426667e+05,9.563333e+04
New Mexico,Albuquerque,1.258667e+05,1.267000e+05,1.264333e+05,1.267333e+05,1.271000e+05,1.277333e+05,1.285667e+05,1.299000e+05,1.310667e+05,1.321000e+05,...,1.632667e+05,1.640000e+05,1.648000e+05,1.651667e+05,1.659000e+05,1.665333e+05,1.673333e+05,1.691000e+05,1.706333e+05,1.146000e+05
California,Fresno,9.410000e+04,9.526667e+04,9.646667e+04,9.823333e+04,1.005667e+05,1.035667e+05,1.072333e+05,1.103000e+05,1.140333e+05,1.185333e+05,...,1.696333e+05,1.736000e+05,1.781333e+05,1.804667e+05,1.820333e+05,1.857000e+05,1.874667e+05,1.890333e+05,1.927333e+05,1.309667e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Texas,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.169667e+05,1.175333e+05,1.175333e+05,1.171667e+05,1.191000e+05,1.216000e+05,1.280000e+05,1.337667e+05,1.400667e+05,9.763333e+04
Maryland,Piney Point,1.556667e+05,1.551667e+05,1.584667e+05,1.637000e+05,1.634000e+05,1.648333e+05,1.647000e+05,1.679000e+05,1.782667e+05,1.812000e+05,...,2.964000e+05,3.090000e+05,3.092333e+05,3.095667e+05,3.017000e+05,3.052333e+05,3.099667e+05,3.195000e+05,3.241667e+05,2.164000e+05
Wisconsin,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.306000e+05,1.289667e+05,1.296333e+05,1.312667e+05,1.301333e+05,1.297333e+05,1.293000e+05,1.278333e+05,1.292667e+05,8.946667e+04
Idaho,Middleton,1.060667e+05,1.043333e+05,1.019000e+05,1.041667e+05,1.061667e+05,1.083667e+05,1.110333e+05,1.112333e+05,1.141000e+05,1.141667e+05,...,1.443667e+05,1.457000e+05,1.462333e+05,1.461667e+05,1.477333e+05,1.482000e+05,1.511333e+05,1.539000e+05,1.571667e+05,1.071667e+05
Colorado,Bennett,1.329000e+05,1.358333e+05,1.398000e+05,1.446667e+05,1.483000e+05,1.521000e+05,1.542333e+05,1.562000e+05,1.587333e+05,1.606333e+05,...,1.514667e+05,1.620667e+05,1.714000e+05,1.780333e+05,1.844333e+05,1.916667e+05,1.958000e+05,1.997667e+05,2.074667e+05,1.417333e+05
New Hampshire,East Hampstead,1.618333e+05,1.691000e+05,1.739667e+05,1.805000e+05,1.909000e+05,1.950667e+05,1.992667e+05,2.074000e+05,2.123000e+05,2.122333e+05,...,2.495000e+05,2.521000e+05,2.557333e+05,2.587333e+05,2.613667e+05,2.616000e+05,2.688000e+05,2.725333e+05,2.778000e+05,1.883000e+05
Missouri,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.055000e+05,1.043000e+05,1.047667e+05,1.060333e+05,9.606667e+04,9.930000e+04,1.034333e+05,1.062667e+05,1.116667e+05,7.573333e+04
Arkansas,Mountainburg,5.716667e+04,6.433333e+04,6.783333e+04,6.900000e+04,6.866667e+04,6.386667e+04,6.376667e+04,6.546667e+04,6.533333e+04,6.600000e+04,...,8.160000e+04,8.506667e+04,8.846667e+04,8.903333e+04,8.556667e+04,8.370000e+04,9.043333e+04,9.833333e+04,1.019000e+05,6.893333e+04
Wisconsin,Oostburg,1.072667e+05,1.081000e+05,1.124333e+05,1.155000e+05,1.191000e+05,1.204333e+05,1.203667e+05,1.196333e+05,1.198667e+05,1.185667e+05,...,1.295667e+05,1.279333e+05,1.274333e+05,1.270667e+05,1.274000e+05,1.303333e+05,1.320333e+05,1.327667e+05,1.341000e+05,9.090000e+04
California,Twin Peaks,9.736667e+04,1.001667e+05,1.013333e+05,1.017000e+05,1.040000e+05,1.076667e+05,1.098333e+05,1.111333e+05,1.132000e+05,1.166000e+05,...,1.501000e+05,1.475333e+05,1.460667e+05,1.435000e+05,1.523000e+05,1.552667e+05,1.591667e+05,1.641667e+05,1.679667e+05,1.156667e+05
New York,Upper Brookville,1.230967e+06,1.230967e+06,1.237700e+06,1.261567e+06,1.295167e+06,1.340033e+06,1.403667e+06,1.481933e+06,1.536167e+06,1.562033e+06,...,1.780633e+06,1.749233e+06,1.729467e+06,1.749867e+06,1.789600e+06,1.777267e+06,1.834367e+06,1.904500e+06,1.944067e+06,1.312533e+06
Hawaii,Volcano,9.870000e+04,1.053667e+05,1.146667e+05,1.247667e+05,1.181333e+05,1.194000e+05,1.232667e+05,1.211667e+05,1.233000e+05,1.169000e+05,...,2.064667e+05,2.276333e+05,2.332000e+05,2.346333e+05,2.323667e+05,2.249667e+05,2.324333e+05,2.420667e+05,2.489667e+05,1.652333e+05
South Carolina,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.436667e+04,7.026667e+04,7.206667e+04,7.570000e+04,7.206667e+04,7.033333e+04,6.903333e+04,6.886667e+04,7.426667e+04,5.380000e+04
Michigan,Williamston,1.591667e+05,1.613000e+05,1.643000e+05,1.662000e+05,1.664333e+05,1.686333e+05,1.716667e+05,1.750333e+05,1.786667e+05,1.793333e+05,...,1.657000e+05,1.689333e+05,1.708667e+05,1.744333e+05,1.758667e+05,1.794667e+05,1.823000e+05,1.814667e+05,1.824000e+05,1.220000e+05
Arkansas,Decatur,6.360000e+04,6.440000e+04,6.566667e+04,6.673333e+04,6.720000e+04,6.770000e+04,6.650000e+04,6.540000e+04,6.460000e+04,6.490000e+04,...,8.966667e+04,9.256667e+04,9.470000e+04,9.350000e+04,9.490000e+04,9.543333e+04,9.700000e+04,9.650000e+04,9.663333e+04,6.456667e+04
Tennessee,Briceville,4.000000e+04,4.173333e+04,4.366667e+04,4.490000e+04,4.480000e+04,4.530000e+04,4.463333e+04,4.370000e+04,4.446667e+04,4.340000e+04,...,5.623333e+04,5.423333e+04,5.260000e+04,4.963333e+04,4.590000e+04,4.793333e+04,4.360000e+04,4.080000e+04,4.180000e+04,2.723333e+04
Indiana,Edgewood,9.170000e+04,9.186667e+04,9.293333e+04,9.490000e+04,9.893333e+04,1.000667e+05,1.008333e+05,1.010000e+05,1.021667e+05,1.017667e+05,...,9.213333e+04,9.406667e+04,9.466667e+04,9.586667e+04,9.433333e+04,9.663333e+04,9.996667e+04,9.943333e+04,9.996667e+04,6.730000e+04
Tennessee,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.227667e+05,1.269333e+05,1.262333e+05,1.223000e+05,1.204667e+05,1.198000e+05,1.258000e+05,1.276667e+05,1.328667e+05,9.183333e+04
Maryland,Saint Inigoes,1.480667e+05,1.476000e+05,1.572333e+05,1.633667e+05,1.642333e+05,1.682000e+05,1.665000e+05,1.653333e+05,1.673000e+05,1.688000e+05,...,2.822333e+05,2.884333e+05,2.869667e+05,2.847000e+05,2.807667e+05,2.778333e+05,2.768333e+05,2.793333e+05,2.826333e+05,1.876000e+05
Indiana,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166000e+05,1.151000e+05,1.165000e+05,1.118667e+05,1.118000e+05,1.156667e+05,1.201667e+05,1.282333e+05,1.232333e+05,8.280000e+04
California,Forest Falls,1.135333e+05,1.144000e+05,1.141667e+05,1.111333e+05,1.134333e+05,1.130000e+05,1.130333e+05,1.151667e+05,1.187000e+05,1.250667e+05,...,1.653667e+05,1.675000e+05,1.771000e+05,1.765333e+05,1.818000e+05,1.911667e+05,1.987333e+05,1.886333e+05,1.898667e+05,1.244333e+05
Missouri,Bois D Arc,1.078000e+05,1.069667e+05,1.071000e+05,1.081000e+05,1.107000e+05,1.136667e+05,1.126333e+05,1.127333e+05,1.130667e+05,1.154000e+05,...,1.375667e+05,1.375667e+05,1.404000e+05,1.450333e+05,1.475667e+05,1.463000e+05,1.494333e+05,1.468667e+05,1.437667e+05,9.600000e+04
Virginia,Henrico,1.285667e+05,1.307667e+05,1.322667e+05,1.332667e+05,1.352333e+05,1.367333e+05,1.386000e+05,1.413333e+05,1.435333e+05,1.461333e+05,...,2.016333e+05,2.040000e+05,2.059000e+05,2.065667e+05,2.104333e+05,2.121000e+05,2.139667e+05,2.160333e+05,2.162000e+05,1.467667e+05
New Jersey,Diamond Beach,1.739667e+05,1.831000e+05,1.889667e+05,1.931333e+05,1.944000e+05,2.102667e+05,2.302667e+05,2.486667e+05,2.599333e+05,2.656333e+05,...,3.818000e+05,3.878667e+05,3.876667e+05,3.931667e+05,3.980000e+05,3.992333e+05,4.004333e+05,4.045333e+05,4.039000e+05,2.660000e+05
Tennessee,Gruetli Laager,3.540000e+04,3.546667e+04,3.666667e+04,3.730000e+04,3.773333e+04,3.790000e+04,3.936667e+04,4.040000e+04,4.156667e+04,4.163333e+04,...,5.556667e+04,5.636667e+04,5.713333e+04,5.890000e+04,6.536667e+04,6.950000e+04,7.170000e+04,7.533333e+04,7.646667e+04,5.166667e+04
Wisconsin,Town of Wrightstown,1.017667e+05,1.054000e+05,1.113667e+05,1.148667e+05,1.259667e+05,1.299000e+05,1.299000e+05,1.294333e+05,1.319000e+05,1.342000e+05,...,1.448667e+05,1.468667e+05,1.492333e+05,1.486667e+05,1.493333e+05,1.498667e+05,1.499333e+05,1.498333e+05,1.512667e+05,1.033333e+05
New York,Urbana,7.920000e+04,8.166667e+04,9.170000e+04,9.836667e+04,9.486667e+04,9.853333e+04,1.029667e+05,9.803333e+04,9.396667e+04,9.460000e+04,...,1.321333e+05,1.370333e+05,1.400667e+05,1.417000e+05,1.378667e+05,1.364667e+05,1.361667e+05,1.389667e+05,1.442000e+05,9.533333e+04
Wisconsin,New Denmark,1.145667e+05,1.192667e+05,1.260667e+05,1.319667e+05,1.438000e+05,1.469667e+05,1.483667e+05,1.491667e+05,1.531333e+05,1.567333e+05,...,1.745667e+05,1.811667e+05,1.861667e+05,1.876000e+05,1.886667e+05,1.884333e+05,1.889333e+05,1.910667e+05,1.928333e+05,1.317333e+05
California,Angels,1.510000e+05,1.559000e+05,1.581000e+05,1.674667e+05,1.768333e+05,1.837667e+05,1.902333e+05,1.845667e+05,1.840333e+05,1.861333e+05,...,2.444667e+05,2.540667e+05,2.599333e+05,2.601000e+05,2.506333e+05,2.635000e+05,2.795000e+05,2.765333e+05,2.716000e+05,1.799667e+05
Wisconsin,Holland,1.510333e+05,1.505000e+05,1.532333e+05,1.558333e+05,1.618667e+05,1.657333e+05,1.680333e+05,1.674000e+05,1.657667e+05,1.619667e+05,...,2.012667e+05,2.015667e+05,2.012667e+05,2.060000e+05,2.076000e+05,2.128667e+05,2.178333e+05,2.219667e+05,2.280333e+05,1.566333e+05

In [78]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return housing_df

In [79]:
dup_housing.head()

,State,RegionName,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
0,New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,391466.666667
1,California,Los Angeles,207066.666667,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,389366.666667
2,Illinois,Chicago,138400.000000,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,141333.333333
3,Pennsylvania,Philadelphia,53000.000000,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,85800.000000
4,Arizona,Phoenix,111833.333333,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,130133.333333

In [80]:
ques_df=dup_housing[['State','RegionName','2008q3','2009q2']]

In [81]:
ques_df.head()

          State    RegionName         2008q3         2009q2
0      New York      New York  499766.666667  465833.333333
1    California   Los Angeles  469500.000000  413900.000000
2      Illinois       Chicago  232000.000000  219700.000000
3  Pennsylvania  Philadelphia  116933.333333  116166.666667
4       Arizona       Phoenix  193766.666667  168233.333333

In [82]:
final_df.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [83]:
univ_town=final_df.copy()

In [84]:
univ_town.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [85]:
univ_town.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 2 columns):
State         517 non-null object
RegionName    517 non-null object
dtypes: object(2)
memory usage: 8.2+ KB

In [86]:
ques_df.head()

          State    RegionName         2008q3         2009q2
0      New York      New York  499766.666667  465833.333333
1    California   Los Angeles  469500.000000  413900.000000
2      Illinois       Chicago  232000.000000  219700.000000
3  Pennsylvania  Philadelphia  116933.333333  116166.666667
4       Arizona       Phoenix  193766.666667  168233.333333

In [126]:
house_recess_df=pd.merge(univ_town,ques_df,how='inner',left_on=['State','RegionName'],right_on=['State','RegionName'])

In [127]:
print(univ_town.shape,ques_df.shape,house_recess_df.shape)

(517, 2) (10730, 4) (269, 4)

In [128]:
house_recess_df[house_recess_df['RegionName']=='Laramie']

Empty DataFrame
Columns: [State, RegionName, 2008q3, 2009q2]
Index: []

In [129]:
house_recess_df

          State       RegionName        2008q3        2009q2
0       Alabama       Montevallo  1.272667e+05  1.252000e+05
1       Alabama       Tuscaloosa  1.396000e+05  1.369333e+05
2        Alaska        Fairbanks  2.499667e+05  2.258333e+05
3       Arizona        Flagstaff  3.226333e+05  2.996000e+05
4       Arizona            Tempe  2.281333e+05  2.075000e+05
5       Arizona           Tucson  1.757667e+05  1.643667e+05
6      Arkansas           Conway  1.233333e+05  1.231667e+05
7      Arkansas     Fayetteville  1.691333e+05  1.618000e+05
8    California           Arcata  3.278667e+05  2.993333e+05
9    California         Berkeley  6.798333e+05  6.430000e+05
10   California            Chico  2.745000e+05  2.674333e+05
11   California        Claremont  5.229667e+05  4.951667e+05
12   California           Cotati  3.784000e+05  3.376333e+05
13   California            Davis  4.773000e+05  4.807000e+05
14   California           Irvine  6.539667e+05  6.099333e+05
15   California           Merced  1.781333e+05  1.470667e+05
16   California           Orange  5.257667e+05  4.571000e+05
17   California        Palo Alto  1.306067e+06  1.227667e+06
18   California           Pomona  3.086000e+05  2.256667e+05
19   California         Redlands  3.160000e+05  2.956667e+05
20   California        Riverside  3.255000e+05  2.364667e+05
21   California       Sacramento  2.332667e+05  1.998000e+05
22   California        San Diego  4.246667e+05  3.895000e+05
23   California  San Luis Obispo  5.570333e+05  5.245000e+05
24   California    Santa Barbara  9.464667e+05  8.775333e+05
25   California       Santa Cruz  6.080333e+05  6.071000e+05
26   California          Turlock  2.259000e+05  1.850000e+05
27   California         Whittier  4.213333e+05  3.773333e+05
28     Colorado          Boulder  4.249333e+05  4.222000e+05
29     Colorado          Durango  3.540333e+05  3.366667e+05
..          ...              ...           ...           ...
239       Texas           Canyon  1.091000e+05  1.164000e+05
240       Texas  College Station  1.622667e+05  1.688667e+05
241       Texas         Commerce  6.670000e+04  6.646667e+04
242       Texas           Dallas  1.121667e+05  1.051000e+05
243       Texas           Denton  1.366667e+05  1.307667e+05
244       Texas       Georgetown  1.962333e+05  1.923333e+05
245       Texas            Keene  9.890000e+04  9.590000e+04
246       Texas          Lubbock  9.363333e+04  1.049000e+05
247       Texas     Stephenville  1.113000e+05  1.352667e+05
248        Utah            Provo  2.156667e+05  2.245000e+05
249        Utah             Orem  2.332000e+05  2.263000e+05
250        Utah   Salt Lake City  2.500333e+05  2.703000e+05
251     Vermont       Burlington  2.260000e+05  2.435000e+05
252     Vermont        Castleton  1.702000e+05  1.669333e+05
253    Virginia  Charlottesville  2.821333e+05  2.705000e+05
254    Virginia   Fredericksburg  2.379667e+05  2.237333e+05
255    Virginia     Williamsburg  3.137333e+05  3.062667e+05
256    Virginia             Wise  1.155667e+05  1.195000e+05
257    Virginia       Chesapeake  2.533000e+05  2.430000e+05
258  Washington       Bellingham  2.922000e+05  2.881333e+05
259  Washington           Cheney  1.839333e+05  1.746667e+05
260  Washington       Ellensburg  2.022000e+05  2.000333e+05
261   Wisconsin         Appleton  1.223333e+05  1.182000e+05
262   Wisconsin       Eau Claire  1.327667e+05  1.304333e+05
263   Wisconsin        Green Bay  1.177333e+05  1.143000e+05
264   Wisconsin        La Crosse  1.173000e+05  1.119333e+05
265   Wisconsin          Madison  1.944000e+05  1.914333e+05
266   Wisconsin        Milwaukee  1.279000e+05  1.167333e+05
267   Wisconsin          Oshkosh  1.299667e+05  1.212000e+05
268   Wisconsin         Waukesha  1.930667e+05  1.882000e+05

[269 rows x 4 columns]

In [91]:
#t_df=pd.DataFrame()

In [92]:
#t_df=pd.merge(univ_town,dup_housing,how='left',left_index=True,right_index=True)

In [93]:
#dup_housing.index

In [94]:
#t_df.shape

In [95]:
#t_df

In [96]:
#dup_housing.loc['Albany']

In [97]:
#univ_town.loc['Albany']

In [98]:
#t_df.loc['Albany']

In [125]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return (True, 0.005496427353694603, 'university town')